<div class="modal-dialog" role="document" id="modalRemove">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Supprimer un contact</h4>
        </div>
        <div class="modal-body">
            <div class="modal-body">
                <p>Etes vous sur de vouloir supprimer ###civilite### ###prenom### ###nom### ?</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" id="removeContactButton" data-dismiss="modal">Supprimer</button>
            <button type="button" class="btn btn-info" data-dismiss="modal">Annuler</button>
        </div>
    </div>
</div>