<tr class="contactRow">
    <td class="hidden-xs">###civilite###</td>
    <td>###nom###</td>
    <td>###prenom###</td>
    <td class="hidden-xs">###email###</td>
    <td class="hidden-xs"><img src="img/flag-iso/###cn_iso_2###.svg" width="40" height="30"
                               alt="drapeau"> ###cn_short_fr###
    </td>
    <td class="action">
        <a class="clickableGlyphicon actionView" data-uid="###uid###"><i class="fa fa-eye fa-2x"></i></a>
        <a class="clickableGlyphicon actionEdit" data-uid="###uid###"><i class="fa fa-pencil fa-2x"></i></a>
        <a class="clickableGlyphicon actionRemove" data-uid="###uid###"><i
                class="fa fa-trash-o fa-2x"></i></a>
    </td>
</tr>