<div class="row">
    <div class="container">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <a href="#" id="paginationFirstBouton" data-numpage="###first###" style="display:###backward###">
            <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-step-backward fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <a href="#" id="paginationPrecBouton" data-numpage="###prec###" style="display:###backward###">
                <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-chevron-left fa-stack-1x fa-inverse"></i>
            </span>
            </a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <input name="curPage" id="curPage" class="curPage" value="###curPage###" type="hidden">
            <p class="text-center">
                ###paginationInfo###
                <br/>
                <span class="hidden-xs">###paginationInfoHidendXs###</span>
            </p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <a href="#" id="paginationNextBouton" class="pull-right" data-numpage="###next###"
               style="display:###forward###">
                <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-chevron-right fa-stack-1x fa-inverse"></i>
            </span>
            </a>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <a href="#" id="paginationLastBouton" class="pull-right" data-numpage="###last###"
               style="display:###forward###">
                <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-step-forward fa-stack-1x fa-inverse"></i>
            </span>
            </a>
        </div>
    </div>
</div>